*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Lato", sans-serif
    font-weight: 400
    font-style: normal
.level__name
    text-align: center
.health__display
    display: flex
    justify-content: space-evenly
    text-align: center
.player-hp
    color: blue
.monster-hp
    color: red
    cursor: pointer
    &--active
        font-weight: bold
        color: black
