.o-feed
    background: red
    height: 50vh
    background: lightgray
    &__container
        display: flex
        flex-flow: column wrap
        justify-content: center
        align-content: center
        height: 50vh
        text-align: left
        background: lightgray
        overflow-y: scroll
    &__item
        text-decoration: none
        list-style: none
        padding: 1% 5%
        width: 90%
        color: white
        line-height: 30px
