.o-feed
    background: red
    height: 50vh
    background: lightgray
    &__container
        display: flex
        flex-flow: column
        justify-content: center
        align-content: center
        height: 50vh
        text-align: left
        background: lightgray
        overflow-y: scroll
        gap: 1rem
        padding: 1rem
    &__item
        display: flex
        flex-direction: column
        place-items: center
        gap: 1rem
    &__image
        max-width: 100px
