.o-interface
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    gap: 2rem
    padding: 1rem
    margin-top: auto
    min-height: 10vh
    &.--travel
        margin-top: auto
    &__directionWrapper
        display: flex
        gap: 1rem
    &__row
        display: flex
        gap: 1rem
        flex-wrap: wrap
        place-content: center
