.o-playerDead
    width: 100vw
    height: 100vh
    background: #313638
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__textContainer
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        text-align: center
        width: 50%
        height: 30%
    &__title
        color: red
        font-weight: bold
        font-size: 3rem
    &__text
        color: white
